<br/>
<br/>

<h1>Welcome to ValetBike by KALES</h1>
<h2>Aline, Eleni, Kat, Lucie, Sunni</h2>
<h3>Your local software engineering learners</h3>

<br/>
<img src="/assets/download.jpg" alt = "Background">

<br/>


<% if logged_in? %>
    <meta http-equiv="Refresh" content="0; url='http://localhost:9292/authorized'" />
<%end%>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users', method: :get%>
<%= button_to "Map", '/map', method: :get%>
<%= button_to "Pricing", '/pricing', method: :get%>
<%= button_to "FAQ", '/faq', method: :get%>
<br/>
<br/>
<br/>
