<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
  </head>
  <body>
  <nav>
  <div>  
    <p> <a href="app/views/pages/index.html">Home</a> <a href="app/views/pages/index.html">Pricing</a> <a href="app/views/pages/index.html">Map</a> <a href="app/views/pages/index.html">FAQ</a> <a href="app/views/pages/index.html">Pricing</a></p>
  </div>
  <div>
    # <% if THEY ARE LOGGED IN %>
    #   <a href=app/views/pages/account.html>Account</a>
    #   SIGN OUT BUTTON
    # <% else $>
    <p><a href="app/views/pages/signup.html">Sign Up</a> <a href="app/views/pages/login.html">Log In</a></p>
  </div>
</nav>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
